# Python caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Outputs / runs
outputs/
runs/

# DATA (keep local, don't push)
1_DATA/

# Large scientific formats
*.nc


# OS junk
.DS_Store
Thumbs.db
